/* VARIABLE DECLARATION */

$small: 480px;
$medium: 800px;
$large: 1000px;

$accent: #133f2e;

/* CSS reset by Andy Bell https://hankchizljaw.com/wrote/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article>*+* {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* END CSS RESET */

/* BEGIN Custom Styles */

body {
  max-width: $large;
  margin:auto;
  font-family: system-ui, sans-serif;
  font-family: 'Space Grotesk', sans-serif;
  padding:2em;
  font-size:12px;
  @media screen and (min-width:$medium) {
    font-size:16px;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom:2em;
  border-bottom:4px dashed $accent;
  a {
    text-decoration: none;
  }

  ul {
    display: flex;

    &>* {
      padding: 0em 1em;
    }
  }
}

h1 {
}

.title {
  font-size: 4em;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom:0.5em;
  text-align: center;
}

.subtitle {
  max-width:45ch;
  font-size:1.2em;
  margin:auto;
  text-align: center;
}

a:visited {
  color: $accent;
}

.main,
.post {
  padding: 2em 0em;
}

.postlist {
  display:grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  @media screen and (min-width:$medium) {
    grid-template-columns: repeat(4, minmax(0, 1fr));

  }
  grid-gap:2em;

  .postlist-item {
    margin: 1em 0;
    padding: 1em;
    display: flex;
    flex-direction: column;
    border:1px solid $accent;
    a {
      text-decoration: none;
      transition: color .4s ease-in;
        
      &:hover {
        color: $accent;
        text-decoration: underline;
      }
    }

    .postlist-links {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      .postlist-link {
        font-size: 1.4em;
        font-weight: 700;
        color:$accent;

      }

      .postlist-job-link {
        color:$accent;

      }
    }

    .tags {
      
      .tag {
        color:$accent;

        border-radius:4px;
        width: auto;
        font-size:0.8em;
        padding: 0.2em;
        text-transform: uppercase;
        letter-spacing: 0.1em;
      }
    }
  }
}
