---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
description: An open-source list of known technology companies with offices in San Luis Obispo, CA.
---

      <p class="subtitle">An open-source list of known technology companies with offices in San Luis Obispo, CA.
      <small> Last updated on {{helpers.builtAt}}</small>
      </p>
      

{% set postslist = collections.posts %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

